{ erl_opts, [
    debug_info,
    {parse_transform, lager_transform},
    warn_export_all,
    warn_export_vars,
    warn_missing_spec,
    warn_obsolete_guard,
    warn_shadow_vars,
    warn_unused_import,
    warn_shadow_vars
]}.
{ deps, [
    {pe4kin, ".*", {git, "git://github.com/sberto/pe4kin.git", {tag, "v4.0.1"}}},
    {lager, "3.9.2"}
]}.

{ shell, [
    {apps, [bot_services, lager]}
]}.

{ relx, [
    {release, {bot_services, "1.0.0"}, [bot_services, sasl]},
    {sys_config, "config/sys.config"},
    {vm_args, "./config/vm.args"},

    {overlay_vars, "config/sensitive_data.config"},
    {overlay, [{template, "config/sys.config", "{{output_dir}}/releases/{{release_version}}/sys.config"}]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.