[
    {bot_services,
     [
         {name, {{bot_name}}},
         {token, {{bot_token}}}
     ]},
    {lager, [
        % Available levels: debug, info, notice, warning, error, critical, alert, emergency
        {error_logger_hwm, 100},
        {handlers, [
            {lager_console_backend, [
                {level, notice},
                {formatter, lager_default_formatter},
                {formatter_config, [date, " ", time, " [", color, severity, "\e[0m] ", pid, "@", module, ":", function, ":", line, " ", color, message, "\e[0m\n"]}

            ]},
            {lager_file_backend, [
                {file, "log/lager_error.log"},
                {level, error},
                {size, 104857600},
                {date, "$D0"},
                {count, 10}
            ]},
            {lager_file_backend, [
                {file, "log/lager_notice.log"},
                {level, notice},
                {size, 104857600},
                {date, "$D0"},
                {count, 10}
            ]}
        ]},
        {colored, true}
    ]}
].

